<!DOCTYPE html>
<html>
<head>
    <title>Wikitools</title>
    <link href="../static/styles.css" rel="stylesheet" type="text/css">


</head>
<body>

    <header>
        <div class="navbar">
            <img src="../static/logo.png" alt="Wikitools" class="logo">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="google.com">Wiki Battle</a></li>
                    <li><a href="Template.html">Random Wiki</a></li>
                    <li><b><a href="google.com">Log In</a></b></li>
                </ul>
            </nav>
        
        
        </div>
    </header>

    <section>
        <div class=display_box>
            <a href="/"><img src="../static/battle_wiki.png" alt="Battle"></a>
            <a href="Randomize.html"><img src="../static/random_wiki.png" alt="Random"></a>
        </div>
    </section>


</body>