<!DOCTYPE html>
<html>
<head>
    <title>Wikitools</title>
    <link href="../static/styles.css" rel="stylesheet" type="text/css">
</head>
<body>

    <header>
        <div class="navbar">
            <img src="../static/logo.png" alt="Wikitools" class="logo">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="google.com">Wiki Battle <span class="coming-soon">(Coming Soon)</span></a></li>
                    <li><a href="Daily">Random Wiki</a></li>
                    <li><b><a href="google.com">Log In <span class="coming-soon">(Coming Soon)</span></a></b></li>
                </ul>
            </nav>
        </div>
    </header>

    <section>
        <div class="display_box">
            <a href="/"><img src="../static/battle_wiki.png" alt="Battle" class="coming-soon"></a>
            <a href="Daily"><img src="../static/random_wiki.png" alt="Random"></a>
        </div>
    </section>

</body>
</html>