body{

    margin: 0px;
    font-family:'Courier New', Courier, monospace;
    font-weight: 400;
    background-color: #d5d6d0;

}


.navbar{
    width: 80%;
    margin: 0 auto;
}
header{

    background: #b3b5ac;

}

header::after {

    content: '';
    display: table;
    clear: both;

}


.logo {

    float: left;
    width: 200px;
    height: 100px;

}

nav{

    float: right;

}

nav ul {

    margin: 0;
    padding-top:16px;
    list-style: none;
}

nav li{

    display: inline-block;
    margin-left: 50px;
    padding-top: 25px;
    position: relative;

}

nav a {

    text-decoration: none;
    color:#000000;
    text-transform: uppercase;
    font-size:17px;

}

nav a::before{

    content: '';
    display: block;
    height: 5px;

    background-color: #e8ebdf;
    position: absolute;
    top: 5px;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before{

    width: 100%;

}

.display_box{

    margin-left:350px;
    width:1200px;
    height:1200px;
    margin-top:100px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;

}

.display_box img {

    width: 100%;
    border: 3px solid rgba(100, 97, 97, 0.846);
    box-sizing: border-box;

    transition: all 120ms ease-in-out
}

.display_box img:hover {

    transform: scale(1.06);
    box-shadow: 0px 0px 20px rgba(0, 0, 0.5);

}

.coming-soon {
    color: red;
    font-style: italic;
    font-size: 0.8em;
    margin-left: 5px;
}

.image-caption {
    text-align: center;
    font-style: italic;
    color: red;
    margin-top: -10px;
}